
.test {
    background: #FFF;
    width: 50px;
    height: 100px;
}

.headerMenuWrap {
    position: relative;
    width: 50px;
    height: 50px;
    background: rgba(0, 0, 0, 0);
    display: flex;
    align-items: center;
    z-index: 100;
}

.headerMenuWrap span,
.headerMenuWrap span::after,
.headerMenuWrap span::before {
    position: absolute;
    content: '';
    width: 28px;
    height: 2.5px;
    background: black;
    border-radius: 20px;
    transition: 500ms cubic-bezier(0.77,0,0.175, 1);
}

.headerMenuWrap span::before {
    top: -8px;
}

.headerMenuWrap span::after {
    top: 8px;
}

.headerMenuWrap.active > span {
    background: transparent;
}

.headerMenuWrap.active > span::after,
.headerMenuWrap.active > span::before {
    background: rgb(0, 0, 0);
    top: 0;
}

.headerMenuWrap.active > span::before {
    transform: rotate(-225deg);
}

.headerMenuWrap.active > span::after {
    transform: rotate(225deg);
}

.active {

}

.menu {
    position: fixed;
    top: 0;
    left: -100%;
    color: green;
    background: white;
    height: 100%;
    width: 30%;
    clip-path: polygon(0 0, 100% 0, 85% 100%, 0% 100%);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding: 100px;
    transition: 300ms left cubic-bezier(0.77, 0, 0.175, 1);
}

.menu.active {
    left: 0%;
}


.menu a {
    font-size: 14px;
    margin-bottom: 1rem;
    text-decoration: none;
    color: black;
}