.headerNavTop {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 10%;
    background: white;
    border-bottom: 1px solid #201f1f;
    height: 50px;
}

header button { 
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    background-color: transparent;
}

button:hover {
    transform: scale(1.2);
}

.logo {
    cursor: pointer;
}

.navLinks {
    list-style: none;
}

.navLinks li {
    transition: all 0.3s ease 0s;
    display: inline-block;
}

.navLinks li a{
    transition: all 0.3s ease 0s;
    border-left: 1px solid #e4e4e4;
    padding: 0px 20px;
    color: inherit;
}

.navLinks li:hover {
    transform: scale(1.2);
    margin-right: 10px;
    margin-left: 10px;
}

.navLinks li:last-child a {
    border-right: 1px solid #e4e4e4;
}


nav ul a, button {
    font-family: Roboto;
    font-size: 10px;
    letter-spacing: 0.3em;
    text-decoration: none;
    color: black;
}

.headerNavBottom {
    height: 78px;
    background-color: aqua;
    display: flex;
    justify-content: space-between;
    align-items: center;
};

