
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
}

header button {
    padding: 9px 25px;
    background-color: rgb(208, 231, 236);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

button:hover {
    background-color: rgba(250, 248, 242, 0.8);
}


.logo {
    cursor: pointer;
}

.navLinks {
    list-style: none;
}

.navLinks li {
    display: inline-block;
    padding: 0px 20px;
}

.navLinks li a{
    transition: all 0.3s ease 0s;
}

.navLinks li a:hover {
    color: #ffffff00;
}

nav ul a, button {
    font-family: Cinzel, sans-serif;
    font-size: 25px;
    text-decoration: none;
    color: black;
}

