.emptyClass {
    width: 100%;
}


.stickyContainer {
    position: sticky;
    top: 0px;
    border: 5px solid red;
    height: 100vh;
    width: 100%;
    overflow-x: hidden;
}

.carousel {
    position: absolute;
    height: 100%;
    will-change: transform;
    border: 5px solid blue;
}

.cardContainer {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
    border: 5px solid black;
    height: 100%;
}


.cardContainer li {
    list-style: none;
}

.modelPictures {
    height: 300px;
    width: 500px;
    margin-right: 50px;
    box-shadow: 25px 5px 5px #888;
}

.floatMode {

}

/* .carousel li img {
    transition: all 1s ease;
} */

.carousel.floatMode li:nth-child(1) img {
    position: absolute;
    top: 2vw;
    left: 0;
    width: 15vw;  
    /* transition-delay: .01s; */
}

.carousel.floatMode li:nth-child(2) img {
    position: absolute;
    top: 4vw;
    left: 16vw;
    width: 15vw;  
    /* transition-delay: .05s; */
}

.carousel.floatMode li:nth-child(3) img {
    position: absolute;
    top: 2vh;
    left: 32vw;
    width: 15vw;  
    /* transition-delay: .45s; */
}

.carousel.floatMode li:nth-child(4) img {
    position: absolute;
    top: 4vh;
    left: 49vw;
    width: 15vw;  
    /* transition-delay: .35s; */
}

.carousel.floatMode li:nth-child(5) img {
    position: absolute;
    top: 4vh;
    left: 66vw;
    width: 15vw;  
    /* transition-delay: .4s; */
}

.carousel.floatMode li:nth-child(6) img {
    position: absolute;
    top: 2vh;
    left: 83vw;
    width: 15vw;  
    /* transition-delay: .3s; */
}

.carousel.floatMode li:nth-child(7) img {
    position: absolute;
    bottom: 2vh;
    left: 0vw;
    width: 15vw;  
    /* transition-delay: .2s; */
}

.carousel.floatMode li:nth-child(8) img {
    position: absolute;
    bottom: 3vh;
    left: 18vw;
    width: 15vw;  
    /* transition-delay: .15s; */
}

.carousel.floatMode li:nth-child(9) img {
    position: absolute;
    left: 32vw;
    bottom: 13vh;
    width: 15vw;  
    /* transition-delay: .1s; */
}

.carousel.floatMode li:nth-child(10) img {
    position: absolute;
    left: 47vw;
    bottom: 2vh;
    width: 15vw;  
    /* transition-delay: .25s; */
}

.carousel.floatMode li:nth-child(11) img {
    position: absolute;
    left: 63vw;
    bottom: 2vh;
    width: 15vw;  
    /* transition-delay: .5s; */
}

.carousel.floatMode li:nth-child(12) img {
    position: absolute;
    left: 83vw;
    bottom: 3vh;
    width: 15vw;  
    /* transition-delay: .6s; */
}


/* BELOW HERE is animating the images FROM normal mode to FLOAT mode.
the transition-delay for floatmode nth child img is for animation going horiozontal or vertical */


/* .carousel li:nth-child(1) img {
    position: absolute;
    top: 2vw;
    left: 0;
    width: 15vw;  
    transition-delay: .01s;
}

.carousel li:nth-child(2) img {
    position: absolute;
    top: 4vw;
    left: 16vw;
    width: 15vw;  
    transition-delay: .05s;
}

.carousel li:nth-child(3) img {
    position: absolute;
    top: 2vh;
    left: 32vw;
    width: 15vw;  
    transition-delay: .45s;
}

.carousel li:nth-child(4) img {
    position: absolute;
    top: 4vh;
    left: 49vw;
    width: 15vw;  
    transition-delay: .35s;
}

.carousel li:nth-child(5) img {
    position: absolute;
    top: 4vh;
    left: 66vw;
    width: 15vw;  
    transition-delay: .4s;
}

.carousel li:nth-child(6) img {
    position: absolute;
    top: 2vh;
    left: 83vw;
    width: 15vw;  
    transition-delay: .3s;
}

.carousel li:nth-child(7) img {
    position: absolute;
    bottom: 2vh;
    left: 0vw;
    width: 15vw;  
    transition-delay: .2s;
}

.carousel li:nth-child(8) img {
    position: absolute;
    bottom: 3vh;
    left: 18vw;
    width: 15vw;  
    transition-delay: .15s;
}

.carousel li:nth-child(9) img {
    position: absolute;
    left: 32vw;
    bottom: 13vh;
    width: 15vw;  
    transition-delay: .1s;
}

.carousel li:nth-child(10) img {
    position: absolute;
    left: 47vw;
    bottom: 2vh;
    width: 15vw;  
    transition-delay: .25s;
}

.carousel li:nth-child(11) img {
    position: absolute;
    left: 63vw;
    bottom: 2vh;
    width: 15vw;  
    transition-delay: .5s;
}

.carousel li:nth-child(12) img {
    position: absolute;
    left: 83vw;
    bottom: 3vh;
    width: 15vw;  
    transition-delay: .6s;
} */