.emptyClass {
    width: 100%;
}


.stickyContainer {
    position: sticky;
    top: 0px;
    border: 5px solid red;
    height: 100vh;
    width: 100%;
    overflow-x: hidden;
}

.carousel {
    position: absolute;
    height: 100%;
    will-change: transform;
    border: 5px solid blue;
}

.cardContainer {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
    border: 5px solid black;
    height: 100%;
}


.sampleCard {
    position: relative;
    height: 300px;
    width: 500px;
    background-color: green;
    margin-right: 50px;
}

.cardContainer li {
    list-style: none;
}

.modelPictures {
    position: relative;
    height: 300px;
    width: 500px;
    margin-right: 50px;
    box-shadow: 25px 5px 5px #888;
}

.floatMode {

}

.carousel .floatMode li img {

}

.carousel .floatMode li:nth-child(1) img {
    /* position: absolute;
    top: 3vw;
    left: 0; */
    width: 15vw;  
}

.carousel .floatMode li:nth-child(2) img {
    /* position: absolute;
    top: 1vw;
    left: 0; */
    width: 15vw;  
}

.carousel .floatMode li:nth-child(3) img {
    /* position: absolute;
    top: 1vw;
    left: 0; */
    width: 15vw;  
}

.carousel .floatMode li:nth-child(4) img {
    /* position: absolute;
    top: 1vw;
    left: 0; */
    width: 15vw;  
}

.carousel .floatMode li:nth-child(5) img {
    /* position: absolute;
    top: 1vw;
    left: 0; */
    width: 15vw;  
}

.carousel .floatMode li:nth-child(6) img {
    /* position: absolute;
    top: 1vw;
    left: 0; */
    width: 15vw;  
}

.carousel .floatMode li:nth-child(7) img {
    /* position: absolute;
    top: 1vw;
    left: 0; */
    width: 15vw;  
}