

.samplePictures {
    /* width: 300px;
    height: 300px; */
    /* height: auto; */
    /* border: 2px solid green; */
}

.floatGallery {
    height: 100vh;
    /* border: 5px solid yellow; */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 10px;
}

.floatGallery img {
    width: 28vw;
    position: relative;
    animation: horizontal 1.0s ease-in-out infinite alternate;
    max-height: 350px;
    max-width: 405px;
    left: 10vw;
    box-shadow: 25px 5px 5px #888;
}

.floatGallery img:nth-child(1) {
    animation-delay: 1s;
    top: 10vh;
    left: 5vw;
}

.floatGallery img:nth-child(2) {
    animation-delay: 3s;
    top: 5vh;
    left: 12vw;
}

.floatGallery img:nth-child(3) {
    animation-delay: 2s;
    top: 11vh;
    left: 14vw;
}

.floatGallery img:nth-child(4) {
    animation-delay: 7s;
    top: 5vh;
}

.floatGallery img:nth-child(5) {
    animation-delay: 1s;
    top: -5vh;
    left: 11vw;
}

.floatGallery img:nth-child(6) {
    animation-delay: 0.3s;
    top: 5vh;
}

@keyframes horizontal {
    0% {
        transform: translateX(-3px);
    }

    100% {
        transform: translateX(3px);
    }
}


@keyframes boxShadowColor {
    0% {
        box-shadow: 25px 5px 5px #888;
    }

    100% {
        box-shadow: 25px 5px 5px  #b99898;
    }
}
